<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dataset Statistics</title>
</head>

<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div id="root"></div>
            </div>
        </div>
    </div>
</body>

</html>